<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<table class="table table-red">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getCity()}"/>

    </tr>
    </tbody>
</table>
</body>
</html>